*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: dodgerblue;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

#nav{
    background-color: blue;
    height: 80px;
    width: 100%;
}

#nav .container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: white;
}

#nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

#nav ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
}

#nav ul li:hover{
    text-decoration: none;
    background-color: aliceblue;
}

#hero .container{
    display: flex;
    background-color: darkblue;
    width: 100%;
    align-items: center;
    height: 250px;
    justify-content: space-around;
    flex-wrap: wrap;
}
#hero .container .content{
    background-color: darkblue;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    border-radius: 10px;
    height: 150px;
}
#hero .container .imgage .a{
    height: 150px;
    border-radius: 10px;
}
#world{
    height: 300px;
    width: auto;
}

#world .items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#world .items .item{
    background-color: blue;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    height: 130px;
    width: 350px;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}
#world .items .item .content{
    display: flex;
    flex-direction: column;
}

#world .items .item .img{
    display: flex;
    height: 25px;
    margin: 5px;
    border-radius: 20px;
}